.title:hover {
  scale: 1.3;
  .text.a1{
    bottom: -5%;
    left: 2%;
    rotate: 10deg;
  }
  .text.l{
    rotate: -15deg;
    left: 12%;
  }
  .text.e{
    rotate: 5deg;
    left: 17%;
    top: -18%;
  }
  .text.x{
    rotate: 30deg;
    left: 24%;
    bottom: -10%;
  }
  .text.s{
    left: 39%;
    rotate: 30deg;
  }
  .text.o1{
    bottom: -10%;
    left: 49%;
    rotate: -40deg;
  }
  .text.v{
    top: -15%;
    left: 56%;
    rotate: -30deg;
  }
  .text.o2{
    left: 65%;
    bottom: -10%;
  }
  .text.d{
    left: 72%;
    rotate: -40deg;
    top: -15%;
  }
  .text.a2{
    left: 82%;
    rotate: 20deg;
    bottom: -20%;
  }
}

.title.active{
  scale: 1.5;
  .text.a1{
    bottom: -5%;
    left: 2%;
    rotate: 10deg;
  }
  .text.l{
    rotate: -15deg;
    left: 12%;
  }
  .text.e{
    rotate: 5deg;
    left: 17%;
    top: -18%;
  }
  .text.x{
    rotate: 30deg;
    left: 24%;
    bottom: -10%;
  }
  .text.s{
    left: 39%;
    rotate: 30deg;
  }
  .text.o1{
    bottom: -10%;
    left: 49%;
    rotate: -40deg;
  }
  .text.v{
    top: -15%;
    left: 56%;
    rotate: -30deg;
  }
  .text.o2{
    left: 65%;
    bottom: -10%;
  }
  .text.d{
    left: 72%;
    rotate: -40deg;
    top: -15%;
  }
  .text.a2{
    left: 82%;
    rotate: 20deg;
    bottom: -20%;
  }
}

.title {
  z-index: 10;
  font-family: "Alte Haas Grotesk";
  color: inherit;
  font-size: clamp(35px, 4cqw, 64px);
  padding: 0;
  margin: 0;
  display: flex;
  user-select: none;
  width: max-content;
  position: relative;
  transition: 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.placeholder {
  opacity: 0;
  width: max-content;
}

.text {
  position: absolute;
  margin: 0;
  padding: 0;
  top: auto;
  opacity: 1;
  user-select: none;
  transition: 0.5s
    linear(
      0,
      0.162 3.6%,
      1.018 12.8%,
      1.235 18.4%,
      1.219 22.4%,
      1.005 32%,
      0.944 38%,
      1.013 57.2%,
      1
    );
}

.text.a1 {
  left: 0%;
}
.text.l {
  left: 11%;
}
.text.e {
  left: 14%;
}
.text.x {
  left: 23%;
}
.text.s {
  left: 37%;
}
.text.o1 {
  left: 48%;
}
.text.v {
  left: 57%;
}
.text.o2 {
  left: 65%;
}
.text.d {
  left: 75%;
}
.text.a2 {
  left: 85%;
}