.title:hover {
  scale: 1.2;
   .text.a{
    left: 2%;
    rotate: -30deg;
   }

   .text.n{
    rotate: 20deg;
    top: -20%;
    left: 17%;
   }

   .text.d{
    rotate: 10deg;
    left: 27%;
   }
   
   .text.y{
    rotate: 20deg;
    bottom: -5%;
    left: 39%;
   }

   .text.r{
    rotate: -12deg;
    left: 54%;
   }

   .text.u{
    rotate: 15deg;
    top: -15%;
    left: 68%;
   }

   .text.s{
    left: 78%;
    rotate: -10deg;
   }

   .text.e{
    left: 88%;
    top: -10%;
   }
  }
  
  .title {
    font-family: "Alte Haas Grotesk";
    color: inherit;
    font-size: clamp(35px, 4cqw, 80px);
    padding: 0;
    margin: 0;
    display: flex;
    user-select: none;
    width: max-content;
    transition: 1s cubic-bezier(0.075, 0.82, 0.165, 1);
    position: relative;
  }
  
  .placeholder {
    opacity: 0;
    width: max-content;
  }
  
  .text {
    width: max-content;
    position: absolute;
    margin: 0;
    padding: 0;
    top: auto;
    opacity: 1;
    user-select: none;
    transition: 0.5s
      linear(
        0,
        0.162 3.6%,
        1.018 12.8%,
        1.235 18.4%,
        1.219 22.4%,
        1.005 32%,
        0.944 38%,
        1.013 57.2%,
        1
      );
  }
  
  .text.a {
    rotate: 0deg;
    left: 0%;
  }

  .text.n{
    rotate: 0deg;
    left: 14%;
  }

  .text.d{
    rotate: 0deg;
    left: 25%;
  }

  .text.y{
    rotate: 0deg;
    left: 37%;
  }

  .text.r{
    rotate: 0deg;
    left: 53%;
  }

  .text.u{
    rotate: 0deg;
    left: 66%;
  }
  
  .text.s{
    rotate: 0deg;
    left: 77%;
  }
  
  .text.e{
    rotate: 0deg;
    left: 87%;
  }
  