.title:hover {
  scale: 1.3;
  .text.m {
    rotate: -10deg;
    left: 0%;
  }
  .text.i {
    rotate: 10deg;
    left: 14%;
    top: -20%;
  }
  .text.c {
    left: 18%;
    bottom: -10%;
    rotate: 20deg;
  }
  .text.h {
    left: 24%;
    top: -10%;
    rotate: -20deg;
  }
  .text.a {
    left: 36%;
    rotate: 30deg;
    bottom: -15%;
  }
  .text.e1 {
    left: 40%;
    rotate: -30deg;
    top: -15%;
  }
  .text.l {
    left: 50%;
    rotate: 20deg;
    top: 0%;
  }
  .text.r {
    left: 61%;
    rotate: -10deg;
    top: 0%;
  }
  .text.e2 {
    left: 71%;
    rotate: -10deg;
    top: -26%;
  }

  .text.e3 {
    left: 78%;
    rotate: 20deg;
    bottom: -10%;
  }

  .text.s {
    left: 85%;
    rotate: -20deg;
    top: -10%;
  }
}

.title {
  font-family: "Alte Haas Grotesk";
  color: inherit;
  font-size: clamp(35px, 4cqw, 80px);
  padding: 0;
  margin: 0;
  display: flex;
  user-select: none;
  transition: 1s cubic-bezier(0.075, 0.82, 0.165, 1);
  position: relative;
}

.placeholder {
  opacity: 0;
}

.text {
  position: absolute;
  margin: 0;
  padding: 0;
  top: auto;
  opacity: 1;
  user-select: none;
  transition: 0.5s
    linear(
      0,
      0.162 3.6%,
      1.018 12.8%,
      1.235 18.4%,
      1.219 22.4%,
      1.005 32%,
      0.944 38%,
      1.013 57.2%,
      1
    );
}

.text.m {
  rotate: 0deg;
}

.text.i {
  rotate: 0deg;
  left: 13%;
}

.text.c {
  left: 16%;
  bottom: 0%;
  rotate: 0deg;
}

.text.h {
  left: 24%;
  top: 0%;
  rotate: 0deg;
}

.text.a {
  left: 32%;
  rotate: 0deg;
  bottom: 0%;
}

.text.e1 {
  left: 40%;
  rotate: 0deg;
  top: 0%;
}

.text.l {
  left: 48%;
  rotate: 0deg;
  top: 0%;
}

.text.r {
  left: 55%;
  rotate: 0deg;
  top: 0%;
}

.text.e2 {
  left: 65%;
  rotate: 0deg;
  top: 0%;
}

.text.e3 {
  left: 73.5%;
  rotate: 0deg;
  bottom: 0%;
}

.text.s {
  left: 82%;
  rotate: 0deg;
  top: 0%;
}
