@keyframes bounceIn{
    0%{
      scale: 0;
    }
  
    100%{
      scale: 1;
    }
  }
  
  .title.dark{
    color: white;
  }

  .title:hover{
    .text{
      transition: 0.5s  linear(
        0,
        0.162 3.6%,
        1.018 12.8%,
        1.235 18.4%,
        1.219 22.4%,
        1.005 32%,
        0.944 38%,
        1.013 57.2%,
        1
      );
    }

    .text.r1 {
      left: 0;
      rotate: -4deg;
    }
    
    .text.o {
      left: 12%;
      bottom: 0;
      rotate: 0deg;

    }
    
    .text.s {
      left: 32%;
      top: -1%;
      rotate: -2deg;
    }
    
    .text.t {
      left: 52%;
      rotate: 0deg;
      bottom: -4%;
    }
    
    .text.e {
      left: 64%;
      top: -8%;
    }
    
    .text.r2 {
      left: 84%;
      rotate: 10deg;
      bottom: -5%;
    }
  }
  
  .title {
    color: black;
    font-size: clamp(35px, 7.5vw, 80px);
    padding: 0;
    margin: 0;
    display: flex;
    user-select: none;
    position: relative;
  }

  .placeholder {
    opacity: 0;
  }
  
  .text {
    scale: 0;
    margin: 0;
    padding: 0;
    position: absolute;
    user-select: none;
    transition: 0.5s
    linear(
      0,
      0.162 3.6%,
      1.018 12.8%,
      1.235 18.4%,
      1.219 22.4%,
      1.005 32%,
      0.944 38%,
      1.013 57.2%,
      1
    );
  }
  
  .text.r1 {
    left: 0;
    rotate: -15deg;
    animation: bounceIn 0.5s
    linear(
      0,
      0.162 3.6%,
      1.018 12.8%,
      1.235 18.4%,
      1.219 22.4%,
      1.005 32%,
      0.944 38%,
      1.013 57.2%,
      1
    ) 0.2s forwards;
  }
  
  .text.o {
    left: 12%;
    bottom: -10%;
    rotate: 10deg;
    animation: bounceIn 0.5s
    linear(
      0,
      0.162 3.6%,
      1.018 12.8%,
      1.235 18.4%,
      1.219 22.4%,
      1.005 32%,
      0.944 38%,
      1.013 57.2%,
      1
    ) 0.3s forwards;
  }
  
  .text.s {
    left: 27%;
    top: -12%;
    rotate: -20deg;
    animation: bounceIn 0.5s
    linear(
      0,
      0.162 3.6%,
      1.018 12.8%,
      1.235 18.4%,
      1.219 22.4%,
      1.005 32%,
      0.944 38%,
      1.013 57.2%,
      1
    ) 0.4s forwards;
  }
  
  .text.t {
    left: 47%;
    rotate: 20deg;
    bottom: -10%;
    animation: bounceIn 0.5s
    linear(
      0,
      0.162 3.6%,
      1.018 12.8%,
      1.235 18.4%,
      1.219 22.4%,
      1.005 32%,
      0.944 38%,
      1.013 57.2%,
      1
    ) 0.5s forwards;
  }
  
  .text.e {
    left: 60%;
    top: -10%;
    animation: bounceIn 0.5s
    linear(
      0,
      0.162 3.6%,
      1.018 12.8%,
      1.235 18.4%,
      1.219 22.4%,
      1.005 32%,
      0.944 38%,
      1.013 57.2%,
      1
    ) 0.6s forwards;
  }
  
  .text.r2 {
    left: 79%;
    rotate: 20deg;
    bottom: -5%;
    animation: bounceIn 0.5s
    linear(
      0,
      0.162 3.6%,
      1.018 12.8%,
      1.235 18.4%,
      1.219 22.4%,
      1.005 32%,
      0.944 38%,
      1.013 57.2%,
      1
    ) 0.7s forwards;
  }