.solid {
  transition: 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
  position: relative;
  margin: 0;
  opacity: 0;
  padding: 0px 15%;
}

.float {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 15%;
  opacity: 1;
  border-radius: 50px;
  overflow: hidden;
  scale: 1;
  transition: 0.6s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.float:active {
  scale: 1.4;
  transition: 0.6s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.menu__item {
  padding: 10px 0;
  display: flex;
  margin: 0;
  width: max-content;
  justify-content: center;
  align-items: center;
  font-family: "Alte Haas Grotesk BOld";
  font-size: clamp(20px, 4.5cqw, 50px);
  position: relative;
  color: black;
  user-select: none;
}

.menu__item.dark {
  color: white;
}

.menu__char {
  user-select: none;
  margin: 0;
  transition: 0.5s
    linear(
      0,
      0.162 3.6%,
      1.018 12.8%,
      1.235 18.4%,
      1.219 22.4%,
      1.005 32%,
      0.944 38%,
      1.013 57.2%,
      1
    );
}

@media screen and (pointer: fine) {
  .float:hover {
    scale: 1.1;
    transition: 0.6s cubic-bezier(0.075, 0.82, 0.165, 1);
    color: white;
    background-color: black;
  }

  .float.dark:hover{
    color: black;
    background-color: white;
    
  }
}
