@keyframes fadeIn {
  from {
    opacity: 0%;
  }
  to {
    opacity: 100%;
  }
}

.about{
  max-height: 1000px;
  max-width: 1280px;
  display: flex;
  flex-direction: column;
  opacity: 1;
  transition: 1s cubic-bezier(0.075, 0.82, 0.165, 1);
  overflow-x: hidden;
  overflow-y: auto;
  font-size: clamp(20px, 4vw, 30px);
  scrollbar-width: thin;
  scrollbar-color: #6b6b6b54 transparent;
}

.about::-webkit-scrollbar {
  width: 10px;
}

.about::-webkit-scrollbar-track {
  background: #00000000;
}

.about::-webkit-scrollbar-thumb {
  background: #6b6b6b54;
}

.about::-webkit-scrollbar-thumb:hover {
  background: #a8a7a754;
}

.about.hidden{
  max-height: 0px;
  max-width: 0px;
  opacity: 0;
  transition: 1s cubic-bezier(0.075, 0.82, 0.165, 1);
  overflow: hidden;
}

.name {
  transition: 0.4s cubic-bezier(0.075, 0.82, 0.165, 1);
  transform: scaleY(1);
  max-height: 100%;
  height: max-content;
  width: 75%;
  display: flex;
  flex-direction: column;
}

.name__title{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: clamp(20px, 6vw, 40px);
}


.close{
  opacity: 0;
  scale: 0;
  transition: 0.5s
    linear(
      0,
      0.162 3.6%,
      1.018 12.8%,
      1.235 18.4%,
      1.219 22.4%,
      1.005 32%,
      0.944 38%,
      1.013 57.2%,
      1
    );
    user-select: none;
}


.close.visible:hover{
  rotate: 349deg;
  scale: 1.4;
  transition: 0.5s
    linear(
      0,
      0.162 3.6%,
      1.018 12.8%,
      1.235 18.4%,
      1.219 22.4%,
      1.005 32%,
      0.944 38%,
      1.013 57.2%,
      1
    );
}

.close.visible{
  opacity: 1;
  z-index: 10;
  scale: 1;
  transition: 0.5s
    linear(
      0,
      0.162 3.6%,
      1.018 12.8%,
      1.235 18.4%,
      1.219 22.4%,
      1.005 32%,
      0.944 38%,
      1.013 57.2%,
      1
    );
}

.name.hidden {
  transition: 0.4s cubic-bezier(0.075, 0.82, 0.165, 1);
  overflow: hidden;
  transform: scaleY(0);
  max-height: 0%;
}

.roster {
  color: black;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.roster.dark {
  color: white;
}

.list {
  padding: 5%;
  display: flex;
  overflow: hidden;
  flex-direction: column;
  height: max-content;
  justify-content: center;
  align-items: center;
}

.description{
  font-size: clamp(20px, 2.5vw, 30px)
}

.showreel {
  transition: 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.name:nth-child(1) {
  opacity: 0;
  animation: fadeIn 1s cubic-bezier(0.07, 0.9, 0.37, 0.98) forwards;
}

.name:nth-child(2) {
  opacity: 0;
  animation: fadeIn 1s cubic-bezier(0.07, 0.9, 0.37, 0.98) 0.2s forwards;
}

.name:nth-child(3) {
  opacity: 0;
  animation: fadeIn 1s cubic-bezier(0.07, 0.9, 0.37, 0.98) 0.4s forwards;
}

.name:nth-child(4) {
  opacity: 0;
  animation: fadeIn 1s cubic-bezier(0.07, 0.9, 0.37, 0.98) 0.6s forwards;
}

.showreel {
  text-wrap: wrap;
  font-size: clamp(15px, 5vw, 25px);
}
