@font-face {
  font-family: "Avara";
  src: url("./assets/webfonts/Bold/Avara-Bold.woff2");
}

@font-face {
  font-family: "Alte Haas Grotesk";
  src: url("./assets/Alte-Haas-Grotesk.woff");
}

@font-face {
  font-family: "Alte Haas Grotesk Bold";
  src: url("./assets/AlteHaasGroteskBold.ttf");
}

@media screen and (pointer: coarse) {
  .cursor {
    display: none;
  }

  .cursor.active{
    display: none;
  }
}

.cursor::before {
  content: "➔";
}

.cursor.active::before{
  content: "";
  background-image: url('./assets/pointer.png');
  background-position: center;
  height: 50px;
  min-width: 400px;
  background-size: contain;
  mix-blend-mode: normal;
  background-repeat: no-repeat;
}

.cursor {
  position: absolute;
  width: 14px;
  height: 34px;
  font-size: clamp(40px, 6vw, 80px);
  color: white;
  z-index: 4;
  user-select: none;
  align-items: center;
  justify-content: center;
  display: flex;
  border-radius: 50px;
  pointer-events: none;
  scale: 1;
  transition: 0.4s
    linear(
      0,
      0.162 3.6%,
      1.018 12.8%,
      1.235 18.4%,
      1.219 22.4%,
      1.005 32%,
      0.944 38%,
      1.013 57.2%,
      1
    );
  mix-blend-mode: difference;
}

.cursor.active {
  scale: 1.2;
  rotate: 0deg;
  transition: 0.4s
    linear(
      0,
      0.162 3.6%,
      1.018 12.8%,
      1.235 18.4%,
      1.219 22.4%,
      1.005 32%,
      0.944 38%,
      1.013 57.2%,
      1
    );
    background-repeat: no-repeat;
    mix-blend-mode: normal;
    transform: rotate(90deg)
}

.theme__toggle {
  position: absolute;
  background-image: url("./assets/images/moon_icon.png");
  background-size: 80%;
  background-position: center;
  background-repeat: no-repeat;
  background-color: transparent;
  width: 40px;
  height: 40px;
  bottom: 5px;
  left: 5px;
  z-index: 2;
  border-radius: 3px;
  border: 2px solid black;
  transition: 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.theme__toggle.dark {
  background-color: transparent;
  background-image: url("./assets/images/sun_icon.png");
  filter: invert(1);
}

@media screen and (pointer: fine) {
  .theme__toggle:hover {
    background-color: white;
    filter: invert(1);
    border: 2px solid white;
    border-radius: 50px;
    transition: 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
  }

  .theme__toggle.dark:hover {
    filter: invert(0);
    background-color: white;
  }
}

.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100svh;
  background-image: linear-gradient(
    to right top,
    #aaaeb4,
    #eaeaea,
    #fffaf6,
    #edeaef,
    #e1d9dd,
    #e0e4ea
  );
  background-size: 400% 400%;
  animation: gradient 6s ease infinite;
  color: black;
  cursor: none !important;
}

.page.dark {
  background: linear-gradient(
    -45deg,
    #0f0c0b,
    #161b1e,
    #090a0a,
    #141714,
    #0f0c0b,
    #161b1e,
    #090a0a,
    #171417,
    #141714
  );
  background-size: 1000% 800%;
  animation: gradient 10s cubic-bezier(0.52, 0, 0.48, 0.98) infinite;
}

.page__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100svh;
  max-width: 1500px;
  background-color: transparent;
}

.header {
  margin: 0px 10%;
  display: flex;
  padding: 10px 10px;
  align-items: center;
  justify-content: space-between;
  width: calc(90%);
}

.main {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  overflow: auto;
  align-items: center;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
